body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: rgb(230, 230, 230);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
    text-align: center;
    
}
.cv-subtitle{
    background: rgb(230, 230, 230)
}
@media (min-width: 1020px){
    main{
        width: 1020px;
    }
}
@media (min-width: 2040px){
    main{
        width: 50%;
    }
}
main{
    
    margin-left: auto;
    margin-right: auto;
    background: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: 5px;
    flex: 1;
}
header{
    background: rgb(54, 54, 54);
    color: white;
    text-align: center;
}

nav{
    font-weight: bold;
    position: sticky;
    top: 0;
    background: rgb(230, 230, 230);
    border-bottom: 1px solid rgb(168, 168, 168);
    
}
nav ul{
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
nav a{
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: darkblue;

}
nav a.active{
    border-radius: 5px;
    box-shadow: 0 0 6px rgb(0 0 0 / .2)
}
nav a:hover{
    background: rgb(168, 168, 168);
    border-radius: 5px;
}
img{
    float: left;
    max-width: 100%;
    border-radius: 5px;
}
footer{
    text-align: center;
    font-weight: bold;
    color: rgb(50, 50, 50);
    font-size: 80%;
}
ul{
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    text-align: left;
}
#container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 1rem;
}
#container > div{
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: bisque;
    border-radius: 5px;
}
.project{
    height: 200px;
    width: auto;
}
.languages{
    font-weight: bold;
}